.nav {
  grid-area: n;
  margin:10px 0px 0px 0px;
  background-color: #3b5998;
  border-radius: 6px;
  padding: 10px;
  
}

.item a {
  margin: 0px 0px 0px 10px;
  font-size: 20px;
  color: white ;
  text-decoration: none;

}

.item a:hover,
.item a:active,
.item a:focus,
.item a.active {
  color:gold;

}

